.btn{
    margin: 5px;
}

.result-table {
    height:250px;
    overflow-y: scroll;
}

.data-input {
    height:250px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
