<div class="container" style="text-align: center">
  <h3>Sentiment Analysis</h3>
  <form [formGroup]="angularForm">
    <div style="text-align: center" class="form-group">
      <textarea
        class="form-control data-input"
        formControlName="name"
        id="data"
        type="text"
        name="data"
        (keyup)="onNameKeyUp($event)"
      ></textarea>
    </div>
  </form>

  <div
    *ngIf="
      angularForm.controls['name'].invalid &&
      (angularForm.controls['name'].dirty ||
        angularForm.controls['name'].touched)
    "
    class="alert alert-danger"
  >
    <div *ngIf="angularForm.controls['name'].errors.required">
      Please write something inside the box.
    </div>
  </div>
  <button
    type="submit"
    [disabled]="angularForm.pristine || angularForm.invalid"
    class="btn btn-lg btn-success"
    (click)="sendText()"
  >
    Submit
  </button>
  <div *ngIf="found" class="result-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Label</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody *ngIf="isPositive">
        <div>It is positive</div>
        <tr *ngFor="let r of result" class="alert alert-success">
          <td>{{ r.label }}</td>
          <td>{{ r.score }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isPositive">
        <tr *ngFor="let r of result" class="alert alert-danger">
          <td>{{ r.label }}</td>
          <td>{{ r.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
